*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.header-box{
    height: 18vh;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#city-input {
    padding: 5px;
    width: 13rem;
}
.user-input{
    font-size: 2rem;
}
.btn{
    padding: 5px;
}
.weather-info{
    font-size: 1.3rem;
    color: white;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    display: flex;
    gap: 1.2rem;
}
